#d1
{
    background-color: aqua;
    /* border: 2px dotted red; */
    border-top: 3px dashed blue;
    border-right: 4px solid green;
    border-bottom: 2px dotted red;
    border-left: 5px double black;

}

